h1 {
    text-align: center;
    font-size: xx-large;
}

.mcimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.description {
    font-size: larger;
    margin: 50px;
    text-align: center;
}

ul {
    font-style: italic;
    margin-bottom: 50px;
    margin-left: 10px;
}

h3 {
    margin-left:10px;
}

.steps {
    margin-bottom: 50px;
    margin-left: 10px;
}